@font-face {
    font-family: "Century-Gothic";
    src: url(../CenturyGothic/CenturyGothic.ttf);
}

@font-face {
    font-family: "Century-Gothic-Bold";
    src: url(../CenturyGothic/CenturyGothic-Bold.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Century-Gothic", serif;
}

.block-1 {
    display: flex;
    flex-direction: column;
    background-color: #C5D0E6;
    padding: 50px 20%;
}

.block-1 .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block-1 .header .logo {
    font-size: 65px;
    color: white;
    text-shadow: 2px 2px 2px #000
}


.block-1 .header .nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block-1 .header .nav .sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

.block-1 .header .nav .sub .item {
    padding: 5px 10px;
    font-size: 24px;
    text-align: center;
}

.block-1 .header .nav .sub .item:hover {
    cursor: pointer;
    background-color: rgba(169, 26, 255, 0.1);
}

.big-title {
    display: inline-flex;
    flex-direction: row;
    font-size: 54px;
}

.white-bold {
    color: white;
    text-shadow: 2px 2px 2px #000
}

.ad {
    padding: 10px 0;
    font-size: 24px;
}

.ad .button {
    margin: 30px 0;
    height: 72px;
    width: 407.02px;
    justify-content: center;
    background: #E6E6FA;
    border: 1px solid #A3C6C0;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    color: #000000;
}

.ad .button .text {
    display: flex;
    align-items: center;
}

.ad .button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px #000
}

.table {
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
}

@media screen and (max-device-width: 1374px) {
    .block-1 .header .nav .sub .item {
        padding: 5px 8px;
        font-size: 24px;
        text-align: center;
    }
}

@media screen and (max-device-width: 900px) {
    .block-1 {
        display: flex;
        flex-direction: row;
    }

    .block-1 .header {
        flex-direction: column;
        text-align: center;
    }
}

.block-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20%;
}

.block-2 .line-header {
    font-size: 51px;
    color: #232F63;
}

.block-2 .line {
    padding: 15px 0;
    font-size: 36px;
}

.block-2 .line-bold {
    padding: 25px 0;
    color: #232F63;
    font-weight: bold;
    font-size: 24px;
}

.block-3 {
    display: flex;
    flex-direction: column;
    background-color: #C5D0E6;
    padding: 50px 20%;
}

.block-3 .line-title {
    color: #232F63;
    font-size: 49px;
}

.block-3 .table {
    display: flex;
    flex-direction: row;
}

.block-3 .table .elem {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.block-3 .line-t {
    font-size: 24px;
    padding-bottom: 25px;
}

.block-3 .line {
    font-size: 36px;
    padding: 25px 0;
}

.table .elem .button {
    display: flex;
    /* Group 2 */
    width: 485px;
    height: 106px;
    justify-content: center;
    background: #E6E6FA;
    border: 1px solid #A3C6C0;
    box-sizing: border-box;
    border-radius: 24px;

    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
}

.table .elem .button .text{
    display: flex;
    align-items: center;
}

.table .elem .button:hover{
    border: 3px solid #A3C6C0;
    cursor: pointer;
}